<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Sign in</title>
</head>
<body>
    <div class="flex-container">
        <div>
            <h1>Sign in</h1>
        </div>
        <div>
            <h2><%- include('../partials/navbar.ejs') %></h2>
        </div>
        <div>
            <form action="/auth/sign-in" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username"/>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/>
                <br>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </div>
</body>
</html>