<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wines you've tried</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>wines you've tried</h1>
</body>
</html>