<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Add a new wine.</title>
</head>
<body>
    <h1>Add a new wine.</h1>
    <h2><%- include('../partials/navbar.ejs') %></h2>
    <form action="/users/<%= user._id %>/wines" method="POST">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country">
        <br>
        <br>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand">
        <br>
        <br>
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="None">Make a selection</option>
            <option value="Red">Red</option>
            <option value="Rose">Rosé</option>
            <option value="Sparkling">Sparkling</option>
            <option value="White">White</option>
        </select>
        <br>
        <br>
        <label for="varietal">Varietal:</label>
        <input type="text" name="varietal" id="varietal">
        <br>
        <br>
        <label for="abv">ABV%</label>
        <input type="number" name="abv" id="abv" min="0" value="0" step=".01">
        <br>
        <br>
        <label for="review">Review:</label>
        <textarea name="review" id="review"></textarea>
        <br>
        <br>
        <button type="submit">Submit your wine</button>
    </form>
</body>
</html>